.body {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 40px;
  background-image: url("Group 9.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #F2F3F7;
  height: 759px;
}
.header {
  width: 1000px;
  margin: auto;
}
.header-logo {
  padding-left: 32px;
  margin-bottom: 0px;
}
.header-logo img {
  vertical-align: bottom;
}
.header-area {
  font-weight: bold;
  box-shadow: 2px 2px 4px gray;
  width: 975px;
  height: 77px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items:center;
}
.nav-menu {
  list-style: none;
  display: flex;
}
.nav-menu li {
  font-size: 10px;
  text-align: center;
  padding: 0 50px 0 50px;
}
.nav-menu li:not(:last-child) {
  border-right: 1px solid black;
  height: 15px;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 14px;}
.nav-menu:nth-child(n+1) {
  color: gray;
}
.title {
  width: 300px;
}
.title-txt {
  color: #D4004E;
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 30px;
}
.sub-title-txt {
  color: #D4004E;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 50px;
}
.sub-title-txt span {
  display: inline-block;
  text-align: center;
}
.scroll {
  text-align: center;
  margin-top: 220px;
}